.title{
    text-align: left!important;
    max-width: 300px!important;
    /* padding-left: 10px!important; */
}

.totalTdKol{
    /* font-size: 14px!important; */
    /* font-weight: 700!important; */
    /* color: blue; */
    text-align: right!important;
}

.innerItems {
    background-color: rgba(231, 221, 209, 0.3);
}

.plus{
    cursor: pointer;
    text-align: center!important;
}

