.itemsBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.title{
  margin: 20px 0px;
  font-weight: 600;
  background: #089CEF;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.13);
}

.table td,
.table th {
    border: 0.5px dotted #ddd;
    text-align: right;
    padding: 7px;
    font-weight: 400;
    font-size: 14px;
}

.table{
  width: 100%;
}
.table thead td {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

.totalTd{
  font-size: 14px!important;
  font-weight: 500;
  text-align: right!important;
}

.totalTd span{
    color: green;
    /* font-size: 14px; */
}

.button{
  margin-left: 20px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}

