.table {
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table td span {
  color: blue;
  border-bottom: none;
  font-size: 11px;
}

.table td div {
  text-align: center;
}

.table .totalTd,
.table .totalTh {
  font-weight: 600;
  background: #f9f6f6;
  text-align: center;
  width: 100px;
}

.table .th {
  text-align: center;
}

.noData {
  color: red;
  padding: 20px;
}

.dimensions {
  margin-top: 10px;
  font-style: italic;
}

.totalRow {
  font-weight: bold;
  background-color: #f9f6f6;
}