
.title{
    margin: 20px 0px;
    font-weight: 700;
    background: blue;
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.13);
}

.titleName{
  text-align: left!important;
}

.titleValue{
  text-align: center!important;
}

.table td,
.table th {
    border: 0.1px solid #ddd;
    text-align: right;
    padding: 7px;
    font-weight: 400;
    font-size: 12px;
    max-width: 60px;
}

.table{
  width: 100%;
}

.totalTd{
  font-size: 14px!important;
  font-weight: 500;
  text-align: right!important;
}

.button{
  margin-left: 20px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}