.input{
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.2;
    margin: 10px 0;
    width: 100%;
    border: 0.6px dotted var(--black-300);
    text-align: right;
}

.input:placeholder {
   font-weight: 300; 
}

.label {
    font-size: 16px;
    line-height: 24px;
}